body {
    background: #DDFCDD;
    color: black;
}

h1 {
    text-align: left;
    font-size: 18pt;
    font-style: normal;
    color: blue;
}

h3 {
    text-align: left;
    font-size: 14pt;
    font-style: italic;
    color: magenta;
}

p {
    text-align: center;
    font-style: normal;
    font-family: Cordia New;
    font-size: 14pt;
}

.h3 {
    color: rgb(255, 145, 1);
}

.red {
    color: red;
}

.big {
    font-size: 100px;
}

#green {
    color: green;
}